.custom-bg {
    background: linear-gradient(to right, #e2e8f0, #e5e7eb);
}

.custom-btn:hover {
    background-color: #f3e8ff !important;
    transition: background-color 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    .custom-bg {
        background: #AC1754;
        color: white !important;
    }

    .custom-btn {
        background-color: #e72b73 !important;
        color: white !important;
    }

    .custom-btn:hover {
        background-color: #b31f58 !important;
    }
}